/*
 *  Button variables
 *  variable code   : bt
 *
 *  Modifier 1 :
 *      br  - border
 *      s   - small
 *      m   - medium
 *      l   - large
 *
 *  Modifier 2 :
 *      small, medium, large :
 *          v - vertical
 *          h - horizontal
 */

$bt-s-v:2.5px;
$bt-s-h:7.5px;
$bt-m-v:5px;
$bt-m-h:15px;
$bt-l-v:10px;
$bt-l-h:30px;

//button border-radius
$bt-br: 5px;

//button padding values
$bt-s:$bt-s-v $bt-s-h;
$bt-m:$bt-m-v $bt-m-h;
$bt-l:$bt-l-v $bt-l-h;
