//primary color
$clr-primary: #FFDD42;

//secondary color
$clr-secondary: #4E5A63;

//secondary text color
$clr-secondary-text: #FCFFFF;

//grey button color
$clr-grey : #ECF0F4;

//common hover color
$clr-hover: #F2F6FA;

//common text color
$clr-text: #2E3A43;

//disable text color
$clr-disable-text: #6E7A83;
