/*
 *  Color variables
 *  Variable code: clr
 *
 *  Modifier 1 :
 *      suc - success color
 *      dng - danger color
 *      wrn - warning color
 *      lbl - label color
 *      shdw- shadow color
 *      bg  - background color
 *      txt - body text color
 *
 *  Modifier 2 :
 *      background color :
 *          py  - primary color
 *          l1  - level 1
 *          l2  - level 2
 *          l5  - level 5
 *
 *      body text color :
 *          py      - primary color
 *          meta    - descriptive text
 *
 */

$clr-suc:var(--clr-suc);
$clr-dng:var(--clr-dng);
$clr-wrn:var(--clr-wrn);
$clr-lbl:var(--clr-lbl);
$clr-shdw:var(--clr-shdw);

$clr-bg:var(--clr-bg);
$clr-bg-dng:var(--clr-bg-dng);
$clr-bg-suc:var(--clr-bg-suc);
$clr-bg-wrn:var(--clr-bg-wrn);
$clr-bg-py:var(--clr-bg-py);
$clr-bg-l1:var(--clr-bg-l1);
$clr-bg-l2:var(--clr-bg-l2);
$clr-bg-l5:var(--clr-bg-l5);
$clr-bg-op:var(--clr-op-bg);

$clr-txt:var(--clr-txt);
$clr-txt-meta:var(--clr-txt-meta);
$clr-txt-py:var(--clr-txt-py);
$clr-txt-bg-py:var(--clr-txt-bg-py, var(--clr-txt));

$clr-bg-active:rgb(from $clr-txt-py r g b/$clr-bg-op);
