/*
 *  Color variables
 *  Variable code: clr
 *
 *  Modifier 1 :
 *      py  - primary color
 *      suc - success color
 *      dng - danger color
 *      wrn - warning color
 *      lbl - label color
 *      bg  - background color
 *      txt - body text color
 *
 *  Modifier 2 :
 *      primary color :
 *          fill - filled color
 *          text - text color
 *
 *      background color :
 *          d1  - dark shade 1
 *          d2  - dark shade 2
 *
 *      body text color :
 *          l1  - light shade 1
 *          l2  - light shade 2
 *          d1  - dark shade 1
 *          d2  - dark shade 2
 */

$clr-suc:var(--clr-suc, #037E23);
$clr-dng:var(--clr-dng, #9A1900);
$clr-wrn:var(--clr-wrn, #B35F00);
$clr-lbl:var(--clr-lbl, #34383C);
$clr-bg:var(--clr-bg, #FCFFFF);
$clr-bg-py:var(--clr-bg-py, #FFDD42);
$clr-bg-d1:rgb(from $clr-bg calc(r - 16) calc(g - 16) calc(b - 16));
$clr-bg-d2:rgb(from $clr-bg calc(r - 32) calc(g - 32) calc(b - 32));
$clr-txt:var(--clr-txt, #4E5A63);
$clr-txt-py:var(--clr-txt-py, #125FAC);
$clr-txt-bg-py:var(--clr-txt-bt-py, black);
$clr-txt-d1:rgb(from $clr-txt calc(r - 16) calc(g - 16) calc(b - 16));
$clr-txt-d2:rgb(from $clr-txt calc(r - 32) calc(g - 32) calc(b - 32));
$clr-txt-l1:rgb(from $clr-txt calc(r + 16) calc(g + 16) calc(b + 16));
$clr-txt-l2:rgb(from $clr-txt calc(r + 32) calc(g + 32) calc(b + 32));
