@mixin pad-vert($val, $important: false) {
  padding-top: $val    #{if($important, ' !important', '')};
  padding-bottom: $val #{if($important, ' !important', '')};
}
@mixin pad-horz($val, $important: false) {
  padding-left: $val  #{if($important, ' !important', '')};
  padding-right: $val #{if($important, ' !important', '')};
}
