@use "./variables/padding" as *;
@use "./variables/color" as *;
@use "./variables/text" as *;
@use "./variables/margin" as *;
@use "./variables/border" as *;

$pad-acc-bdy: 30px;

/*
 * Accordion classes
 *
 * classes            : acc-title ( for accordion title)
 *                      acc-body (for accordion body )
 *                      acc-active ( for active item )
 *                      acc-boxed ( Accordion item with borders )
 *                      acc-filled ( Active accordion item is highlighted with a background color for body )
 */

aalam-accordion {display: block;}
.acc-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pad-m $pad-l;
    cursor: pointer;
    border-bottom: 1px solid $clr-bg-l2;
    & .ic.acc-tgl {transition: transform 0.2s ease;}
}


.acc-body {
    display: none;
    box-sizing: border-box;
}
.acc-boxed {
    border: 1px solid $bdr-clr;
    margin-bottom: $m-s;
    border-radius: $bdr-r-l;
    & .acc-title {
        border-bottom:0;
    }
    &:last-child {
        margin-bottom:0
    }
}
.acc-active {
    & > .acc-title {
        & .ic.acc-tgl {transform: rotate(180deg);}
    }
}
.acc-active:not(.acc-filled) {
    & > .acc-title {
        background: $clr-bg-active;
    }
}
.acc-active.acc-filled {
    & > .acc-body {
        background-color: $clr-lbl;
    }
}
