@use "./variables/color" as *;
@use "./variables/button" as *;
@use "./variables/border" as *;
@use "./variables/text" as *;

/*
 * Button classes
 * Component code : bt
 *
 * Modifier 1     : s   ( small size  button )
 *                  m   ( normal size button )
 *                  l   ( large size button )
 *                  py  ( primary button )
 *                  sy  ( secondary button )
 *                  ol  ( outline button )
 *                  txt ( text button )
 *                  gy  ( grey button )
 *                  dis ( disable button )
 */


.bt {
    display: inline-block;
    border-radius:$bdr-r-s;
    padding:$bt-m;
    cursor:pointer;
    white-space:nowrap;
}
.bt-s {
    padding:$bt-s;
    font-size:$t-sz-s;
}
.bt-l {padding:$bt-l}

.bt-py {
    color:$clr-txt-bg-py;
    background-color:$clr-bg-py;
    border:1px solid $clr-bg-py;
}

.bt-sy {
    color:$clr-bg;
    background-color:$clr-txt;
    border:1px solid $clr-txt;
}

.bt-dng {
    color:$clr-bg;
    background-color:$clr-dng;
    border:1px solid $clr-dng;
}

.bt-suc {
    color:$clr-bg;
    background-color:$clr-suc;
    border:1px solid $clr-suc;
}

.bt-ol {
    color:$clr-txt;
    border:1px solid $clr-txt;
    background-color: transparent;

  &:hover
    { background-color:$clr-lbl }
}

.bt-txt {
    color:$clr-txt;
    border:1px solid transparent;

    &:hover {
        background-color:$clr-lbl;
        border:1px solid $clr-lbl;
    }
}

.bt-gy {
    color:$clr-txt;
    background-color:$clr-bg-l1;
    border:1px solid $clr-bg-l1;
}

.bt-dis {
    cursor:not-allowed;
    color:$clr-txt-meta;
    background-color:$clr-bg-l1;
    border:1px solid $clr-bg-l1;
}

.bt-py:hover , .bt-sy:hover {filter: brightness(0.9);}
.bt-py:active, .bt-sy:active, .bt-ol:active, .bt-txt:active, .bt-gy:active {transform:scale(0.95);}

.bt {
    & svg {
        height:calc(1em + 2px) !important;
        width:auto !important;
        vertical-align:text-bottom;
    }
    & > :first-child.ic {
        margin-right:6px;
    }
    & > :last-child.ic {
        margin-left:6px;
    }
    & > :only-child.ic {
        margin:0;
    }
}
