@use "./variables/color" as *;
@use "./mixins/breakpoints" as *;

body {
    margin: 0;
}
a {
    color:inherit;
    &, &:hover, &:active {
        text-decoration: none;
    }
}
button {
    cursor: pointer;
    line-height: inherit;
}

:root {
    @include bp-var(s);
    @include bp-var(m);
    @include bp-var(l);
    @include bp-var(xl);
    @include bp-var(2xl);
}

/*Source : https://github.com/msikma/h5bp-print-styles/blob/master/print.scss*/
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

::-webkit-scrollbar {
    width: 12px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: var(--clr-bg);
}
::-webkit-scrollbar-thumb {
    background-color: var(--clr-bg-l2);
    border-radius: 4px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-clip: padding-box;
}
