@use "./variables/color" as *;
@use "./mixins/breakpoints" as *;

body {
    margin: 0;
}
a {
    color:inherit;
    &, &:hover, &:active {
        text-decoration: none;
        color:inherit;
    }
}
button {
    cursor: pointer;
    line-height: inherit;
}

:root {
    @include bp-var(s);
    @include bp-var(m);
    @include bp-var(l);
    @include bp-var(xl);
    @include bp-var(2xl);
}
