@import './variables/color.scss';
@import './mixins/color.scss';
@import './variables/border.scss';
@import './variables/padding.scss';

aalam-dtpick::part(cal-day):hover {
    background:none;
    &::before {
        position:absolute;
        content:' ';
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        height:30px;
        width:30px;
        z-index:-1;
        background:rgb(from $clr-bg-l1 r g b / calc(clamp(0, var(--gpday), 1)));
        border-radius:$bdr-r-s;
    }
}
aalam-dtpick::part(cal-dayhead):hover {
    background:transparent;
}

aalam-dtpick::part(month-in-year),
aalam-dtpick::part(year-in-years) {
    border-radius:$bdr-r-s;
    &:hover {background:$clr-bg-l1;}
}

aalam-dtpick::part(cal-title-month),
aalam-dtpick::part(cal-title-year) {
    color:$clr-txt;
}
aalam-dtpick::part(cal-title) {
    color:$clr-txt-py;
}
aalam-dtpick::part(cal-dayhead) {
    color:$clr-txt-meta;
}
aalam-dtpick::part(cal-selected):before,
aalam-dtpick::part(cal-selected-to):before {
    background:$clr-txt !important;
    color:$clr-bg;
    border-radius:$bdr-r-s;
}
aalam-dtpick::part(cal-today):before,
aalam-dtpick::part(month-this),
aalam-dtpick::part(year-this) {
    border:1px solid $clr-txt-py;
    border-radius:$bdr-r-s;
}
aalam-dtpick::part(cal-selected) {
    color:$clr-bg;
}

aalam-dtpick::part(cal-selected-from):before,
aalam-dtpick::part(cal-selected-to):before {
    background:$clr-txt;
    border:1px solid $clr-txt;
}

aalam-dtpick::part(dt-input-box) {
    background:$clr-bg;
    border:1px solid $clr-txt-meta;
    border-radius:$bdr-r-s;
    &:before {
        color:$clr-txt-meta;
        background:$clr-bg;
    }
    &:focus-within {
        border:1px solid $clr-txt;
        &::before {color:$clr-txt;}
    }
}
aalam-dtpick::part(year-in-years):after,
aalam-dtpick::part(month-in-year):after {
    left:calc(clamp(0, (var(--gpday) - var(--gpfrom)), 1) * calc(var(--gridgap) / -2));
    right:calc(clamp(0, (var(--gpto) - var(--gpday)), 1) * calc(var(--gridgap) / -2));
    background:rgb(from $clr-txt-py
                        calc((r * var(--selinrange)))
                        calc((g * var(--selinrange)))
                        calc((b * var(--selinrange)))
                        / calc(calc(10 / 100) * (calc(var(--selinrange)))));
}
aalam-dtpick::part(cal-week):after {
    background:rgb(from $clr-txt-py
                        calc((r * var(--selinwrange)))
                        calc((g * var(--selinwrange)))
                        calc((b * var(--selinwrange)))
                        / calc(calc(10 / 100) * (calc(var(--selinwrange)))));
}
aalam-dtpick::part(month-selected),
aalam-dtpick::part(year-selected) {
    background:$clr-txt !important;
    color:$clr-bg;
}
aalam-dtpick:not([range]) {
    &::part(month-selected),
    &::part(year-selected) {
        background: $clr-bg-active !important;
        color:$clr-txt;
    }
    &::part(cal-selected) {
        color:$clr-txt;
        &:before {
            background: $clr-bg-active !important;
            border:1px solid $clr-bg-active;
        }
    }
}

aalam-dtpick::part(cal-break-extender-bfr),
aalam-dtpick::part(cal-break-extender-aft) {
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:$clr-txt-meta;
}
aalam-dtpick::part(cal-break-extender-bfr-btn),
aalam-dtpick::part(cal-break-extender-aft-btn) {
    display:flex;
    align-items:center;
    border:1px solid $clr-txt;
    border-radius:$bdr-r-s;
    padding:$pad-s $pad-m;
    &::after {
        margin-left: 6px;
        content:'Add 6 Months';
        color:$clr-txt;
    }
}
aalam-dtpick[type='m']::part(cal-break-extender-bfr-btn),
aalam-dtpick[type='m']::part(cal-break-extender-aft-btn) {
    &::after {content:'Add 5 Years';}
}
aalam-dtpick::part(break-block-desc) {
    border-top:1px solid $clr-txt-meta;
    border-bottom:1px solid $clr-txt-meta;
    padding:$pad-s $pad-m;
    color:$clr-txt;
}
aalam-dtpick::part(break-block) {
    box-shadow:0px -2px 10px -4px $clr-shdw;
    background:$clr-bg;
}
aalam-dtpick {
    box-shadow:0px -2px 10px -4px  $clr-shdw;
    --scrl-bg:$clr-bg-active;
    --scrl-br:#{$bdr-r-s};
}
