@use './src/variables/color' as *;
@use './src/variables/text' as *;
@use './src/variables/padding' as *;
@use './src/variables/margin' as *;

.lg > * {padding:$pad-m $pad-l;display:block}
.lg-nav > * {padding: $pad-s 0; display:block;}
.lg-stripe > *:nth-child(even) {background:$clr-lbl;}
.lg-line > * {border-bottom:1px solid $clr-bg-l2;}
.lg-b {color:$clr-txt-meta;font-size:$t-sz-s}
.lg-h {color:$clr-txt;margin-bottom:$m-txt;}
