@use "./variables/color" as *;
@use "./variables/button" as *;
@use "./variables/border" as *;
@use "./form" as *;


aalam-md-input {
    display:block;
    &::part(charcount) {
        color:$clr-txt-meta
    }
}
aalam-md-input[mode=outline]::part(container) {
    border:1px solid $bdr-clr;
    padding: 0 $fc-inp-pad-h;
    background-color: var(--clr-bg);
}
aalam-md-input[mode=filled]::part(container) {
    border-bottom: 1px solid $bdr-clr !important;
    background-color: var(--clr-bg);
}
aalam-md-input[mode=outline],aalam-md-input[mode=filled] {
    & > [slot=input] {
        border:0;
        padding:0;
        background-color: transparent;
        color: $clr-txt;
    }
    & > [slot=input]:focus, & > [slot=input]:hover {
        border: 0;
    }
}
aalam-md-input[mode=outline] {
    &::part(label) {background-color:$clr-bg; color:$clr-txt-meta;}
    &::part(container) {
        border-radius:$bdr-r-s;
        &:focus-within {
            color:$clr-txt-py;
            border:1px solid $clr-txt-py;
        }
    }
}
aalam-md-input[mode=normal] {
    & > input, & > textarea {
        border:0;
        outline:none;
        padding:$bt-m-v $fc-inp-pad-h;
    }
    & > input:focus, & > textarea:focus, & > input:hover, & > textarea:hover {
        outline: none;
        border:0;
    }
    &::part(container) {
        border:1px solid $clr-bg-l2;
        background-color: $clr-lbl;
    }
    &::part(container):hover {
        border:1px solid $clr-txt;
    }
    &::part(container):hover {
        border:1px solid $clr-txt-py;
    }
}
