@use "./mixins/breakpoints" as *;
@use "./variables/padding" as *;
@use "./variables/color" as *;

/*
 * This is a block which when displayed on small and medium screen
 * devices - has a clear separation between successive blocks
 * Component code   : seg
 * Modifier 1       : nl (No Line)
 * Modifier 2       : series (If a block is a continuation of a another block in the series)

 */

$seg-gap-btm: 6;
@mixin seg-thick-line() {
    content: "";
    position: absolute;
    bottom: calc(#{$seg-gap-btm} * -0.5px);
    left:var(--seg-left-offset, var(--seg-offset, -#{$pad-m}));
    right:var(--seg-right-offset, var(--seg-offset, -#{$pad-m}));
    background-color:$clr-bg-l1;
    height: calc($seg-gap-btm * 1px);
}
.seg {
    position:relative;
}
@include media-bp-max(m) {
    .seg {
        &:not(:empty) {
            padding-top: $pad-m;
            padding-bottom: $pad-m;
        }
        &:empty {
            min-height:1px;
        }
        /*&:not(:last-child) {
            margin-bottom: $seg-gap-btm;
        }*/
        &:not(:last-child)::after, &.seg-series:not(.seg-nl)::before {
            @include seg-thick-line;
        }
        &.seg-nl {
            margin-bottom:0;
        }
        &.seg-nl::after {
            content:none !important;
        }
        /*&.seg-series:not(.seg-nl) {
            margin-top:$seg-gap-btm;
        }*/
    }
}
@include media-bp-min(l) {
    .seg {
        &:not(:empty) {
            padding-top: $pad-l;
            padding-bottom: $pad-l;
        }
        &:not(.seg\@l):not(:last-child) {
            border-bottom: 1px solid $clr-bg-l2;
            border-radius:0
        }
        &.seg\@l::after {
            @include seg-thick-line;
        }
        &.seg-nl {
            border-bottom: 0;
        }
        &.seg-nl\@l {
            border-bottom:0;
            padding-top: $pad-m;
            padding-bottom: $pad-m;
        }
        &.seg-nl, &.seg-nl\@l:first-child {
            padding-top:$pad-l;
        }
        &.seg-nl, &.seg-nl\@l:last-child {
            padding-bottom:$pad-l;
        }
    }
}
