@use "./variables/padding" as *;
@use "./variables/color" as *;
@use "./mixins/color" as *;
@use "./mixins/breakpoints" as *;

/*
 * Table class
 * Component code   : tb
 *
 * Modifier 1       : stripe ( for stripe pattern )
 */

.tb-stripe tbody  tr:nth-child(odd) {
    background-color: $clr-lbl;
}
.tb {
    width: 100%;
    border-collapse: collapse;
    thead {

        th {
            padding: $pad-m  $pad-l;
            &:not([class^="t-al-"]) {
                text-align: left;
            }
        }
    }
    tbody {
        border-bottom: 1px solid $clr-bg-l2;

        tr {
            vertical-align:top;
            &:hover {
                background-color: $clr-bg-l1;
            }
            &.selected {
                @include clr-bg-op($clr-txt-py);
            }
            td {
                padding: $pad-m $pad-l;

                @include media-bp-max(l) {
                    padding: $pad-m $pad-m;
                }
            }

        }
    }
}

