@use "./variables/padding" as *;
@use "./variables/text" as *;
@use "./variables/color" as *;
@use "./variables/grid" as *;
@use "./variables/border" as *;
@use "./mixins/color" as *;
@use "./mixins/breakpoints" as *;

$tabs-s: 2px;

/*
 * Tabs class
 * Component code   : tabs
 *
 * Modifier 1       : wr (for wraping the tabs )
 */

aalam-tabs::part(tab-title),.tab-title {
    border-bottom: 2px solid $clr-bg-l2;
    gap: $gd-gap-s;
    text-wrap: nowrap;
    display: inline-flex;
    min-width: 100%;
}

aalam-tabs:not(.tabs-wr)::part(tab-title-holder),.tab-title-holder {
    overflow: auto;
    scrollbar-width: none;
}

[slot='tab-title'],.tab-title > * {
    padding: $pad-s $pad-m;
    color: $clr-txt-meta;
    cursor: pointer;
    font-size: $t-sz;
    flex-shrink: 0;
    position: relative;
    border-top-left-radius: $bdr-r-s;
    border-top-right-radius: $bdr-r-s;

    &:hover {
        background: $clr-bg-l1;
    }

    &.tab-active {
        color: $clr-txt;

        &::after {
            content: "";
            position: absolute;
            bottom: -$tabs-s;
            left: 0px;
            right: 0px;
            height: $tabs-s;
            background-color: $clr-txt-py;
            border-top-left-radius: $bdr-r-s;
            border-top-right-radius: $bdr-r-s;
        }
    }
}

[slot='tab-body'] {
    padding: $pad-m $pad-m;
}

aalam-tabs.tabs-wr {
    &::part(tab-title) {
        flex-wrap: wrap;
    }
}

@include media-bp-min(m) {
    aalam-tabs::part(tab-title),.tab-title {
        gap: $gd-gap-m;
    }
}
