@use "./variables/padding" as *;
@use "./variables/text" as *;
@use "./variables/color" as *;
@use "./variables/grid" as *;
@use "./variables/margin" as *;
@use "./variables/border" as *;
@use "./mixins/breakpoints" as *;

$tabs-s: 2px;

/*
 * Tabs class
 * Component code   : tabs
 *
 * Modifier 1       : wr (for wraping the tabs )
 */

aalam-tabs[data-fashion=row]::part(tab-title),.tab-title {
    border-bottom: 2px solid $clr-bg-l2;
    gap: $gd-gap-s;
    text-wrap: nowrap;
    display: inline-flex;
    min-width: 100%;
    margin-bottom: $m-m;
}

aalam-tabs[data-fashion=row]:not(.tabs-wr)::part(tab-title-holder),.tab-title-holder {
    overflow: auto;
    scrollbar-width: none;
}

aalam-tabs[data-fashion=row] > [slot='tab-title'],.tab-title > * {
    padding: $pad-s $pad-m;
    color: $clr-txt-meta;
    cursor: pointer;
    font-size: $t-sz;
    flex-shrink: 0;
    position: relative;
    border-top-left-radius: $bdr-r-s;
    border-top-right-radius: $bdr-r-s;

    &:hover {
        background: $clr-bg-l1;
    }

    &.tab-active {
        color: $clr-txt;

        &::after {
            content: "";
            position: absolute;
            bottom: -$tabs-s;
            left: 0px;
            right: 0px;
            height: $tabs-s;
            background-color: $clr-txt-py;
            border-top-left-radius: $bdr-r-s;
            border-top-right-radius: $bdr-r-s;
        }
    }
}

aalam-tabs[data-fashion=column]::part(tab-title-holder) {
    border-right: 1px solid $bdr-clr
}

aalam-tabs[data-fashion=row].tabs-wr {
    &::part(tab-title) {
        flex-wrap: wrap;
    }
}

@include media-bp-min(m) {
    aalam-tabs[data-fashion=row]::part(tab-title),.tab-title {
        gap: $gd-gap-m;
    }
}
@mixin col-tabs {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
}
aalam-tabs[data-fashion=column] > [slot=tab-title] {
    @include col-tabs;
    color: $clr-txt-meta;
    display: block;
    padding: $pad-m $pad-l;

    &.tab-inactive {cursor:inherit;}
    &:not(.tab-inactive):hover {
      background-color: $clr-bg-l1;
    }

    &:not(.tab-inactive):not(.tab-col-hdr).tab-active {
      background-color: $clr-bg-active;
      color: $clr-txt;
    }
}
aalam-tabs[data-fashion=column]::part(tab-body-holder) {
    box-sizing:border-box;
}
aalam-tabs[data-fashion=overlay]::part(tab-body-holder) {
    background-color: $clr-bg;
    box-sizing:border-box;
    z-index: 2;
}
aalam-tabs[data-fashion=overlay] > [slot=tab-title] {
    @include col-tabs;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: $pad-m 0;

    &:not(.tab-inactive):not(.tab-col-hdr)::after {
        content: "";
        display:inline-block;
        width: calc(1em + 2px);
        height: calc(1em + 2px);
        clip-path: polygon( 35% 16%,68.6% 50%,36% 83%, 35% 76%, 61% 50%, 35% 23.5%);
        background-color: currentColor;
    }
}

aalam-tabs[data-fashion=column]::part(tab-title-holder),
aalam-tabs[data-fashion=overlay]::part(tab-title-holder),
aalam-tabs::part(tab-body-holder) {
    &::-webkit-scrollbar {
        width: 12px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: var(--clr-bg);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--clr-bg-l2);
        border-radius: $bdr-r-s;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        background-clip: padding-box;
    }
}

aalam-tabs[data-fashion=overlay], aalam-tabs[data-fashion=column] {
    & > [slot='tab-title'].tab-col-hdr {
        position: sticky !important;
        top: 0;
        background: $clr-bg;
        z-index: 1
    }
}

.tab-pill {
    gap: $gd-gap-s;
    text-wrap: nowrap;
    display: inline-flex;

    & > * {
        border-radius: $bdr-r-curve;
        padding: $pad-m $pad-l;
        border: 1px solid $bdr-clr;
        color: $clr-txt-meta;

        &.tab-active {
            border-color: $clr-txt-py;
            background: $clr-bg-active;
            color: $clr-txt-py;
        }

    }
}
