@import './src/variables/color.scss';
@import './src/variables/text.scss';
@import './src/mixins/breakpoints.scss';
@import './src/variables/margin.scss';

/*
 * Font classes
 * Component code : t
 * Modifier 1 :
 *      sz  - size
 *      wt  - weight
 *      tf  - text-transform
 *      of  - overflow
 *      al  - alignment
 *      clr - color
 *      ic  - icon
 *      lbl - label
 *      lbls- label container
 *
 * Modifier 2 :
 *  size :
 *      xs  - extra small font
 *      s   - small font
 *      l   - large font
 *      xl  - extral large font
 *
 *  weight :
 *      b   - bold
 *      sb  - semi bold
 *
 *  text-transform :
 *      c   - capitalize
 *      u   - uppercase
 *      l   - lowercase
 *
 *  alignment :
 *      l   - left
 *      c   - center
 *      r   - right
 *      j   - justify
 *
 *  overflow :
 *      w   - wrap
 *      nw  - nowrap
 *      tc  - truncate
 *      tcm - truncate multiple line
 *
 *  color :
 *      py  - primary color
 *      suc - success color
 *      wrn - warning color
 *      dng - danger color
 *      meta- descriptive text color
 *
 * Modifier 3:
 *  truncate multiple line :
 *      2   - line 2
 *      3   - line 3
 *      cus - custom line
 *
 */

@mixin tcm($line) {
    width:100%;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:$line;
    -webkit-box-orient:vertical;
}

html, body {
    font-size:$t-sz;
    line-height:$t-lh;
    @include media-bp-max(l) {
        font-size:$t-sz-sm;
    }
}


.t-sz-xs {font-size:$t-sz-xs}
.t-sz-s  {font-size:$t-sz-s}
.t-sz-l  {font-size:$t-sz-l}
.t-sz-xl {font-size:$t-sz-xl}

.t-wt-b  {font-weight:$t-wt-b}
.t-wt-sb {font-weight:$t-wt-sb}

.t-tf-c  {text-transform:capitalize;}
.t-tf-u  {text-transform:uppercase;}
.t-tf-l  {text-transform:lowercase;}

.t-al-l  {text-align:left;}
.t-al-c  {text-align:center;}
.t-al-r  {text-align:right;}
.t-al-j  {text-align:justify;}

.t-of-w  {text-wrap:wrap;}
.t-of-nw {text-wrap:nowrap;}
.t-of-tc {
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.t-of-tcm-2   {@include tcm(2);}
.t-of-tcm-3   {@include tcm(3);}
.t-of-tcm-cus {@include tcm(var(--t-of-tcm));}

.t-clr-py   {color:$clr-txt-py}
.t-clr-suc  {color:$clr-suc}
.t-clr-wrn  {color:$clr-wrn}
.t-clr-dng  {color:$clr-dng}
.t-clr-meta {color:$clr-txt-meta}

.t-ic {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    > .ic:first-child {margin-right:$t-ic-gap}
    > .ic:last-child {margin-left:$t-ic-gap}
    svg {
        width:$t-ic-sz !important;
        height:$t-ic-sz !important;
        vertical-align:text-bottom;
    }
}

.t-lbl {
    padding:2px 8px;
    background:$clr-lbl
}
.t-lbls {
    display:flex;
    flex-wrap:wrap;
    column-gap:$m-s;
    row-gap:$m-m;
}
