@use "./variables/color" as *;
@use "./variables/border" as *;
@use "./variables/text" as *;
@use "./variables/zindex" as *;

$body-pad-v: 3px;
$body-pad-h: 6px;

$arrow-size: 8px;

aalam-tooltip::part(tt-body) {
    background-color: $clr-txt;
    color: $clr-bg;
    box-shadow: 0px 2px 10px 0px $clr-shdw;
    border-radius:$bdr-r-s;
    z-index:$z-ix-dd;
    border: 0;
    padding: $body-pad-v $body-pad-h;
    white-space:normal;
    width: max-content;
    max-width:200px;
    font-size: $t-sz-s;
}
aalam-tooltip::part(tt-arrow) {
    background-color: $clr-txt;
    width: $arrow-size;height:$arrow-size;
    transform:rotate(45deg);
}
